<%- include('header') %>

<form method = "GET" action = "/rate">
    <input name = "rate" placeholder="Dollar rate"><br>
    <input name = "qty" placeholder="Amount of dollars"><br>
    <button>Convert!</button>
</form>

<%- include('footer') %>